# environment-specific config (consultant vs. agency)
# This variable controls which assets are loaded in definitions.py
[Project Name]_ENVIRONMENT=consultant

# Set a persistent data directory for local Dagster development
# DAGSTER_HOME=/path/to/repository/.dagster_home

# Key vault for secrets
KEY_VAULT_NAME=your-keyvault-name

# Storage accounts for storing data for pipelines
AZURE_GTFS_STORAGE_ACCOUNT=[STORAGE_ACCOUNT]
AZURE_FARE_STORAGE_ACCOUNT=[STORAGE_ACCOUNT]

# OpenMetadata connection settings
OPENMETADATA_API_URL=http://localhost:8585/api
OPENMETADATA_API_TOKEN=ingestion-bot-jwt

# Dagster connection settings (for OpenMetadata ingestion of Dagster)
DAGSTER_HOST=http://localhost:3000
# Optional, depending on authentication setup, can usually be blank
DAGSTER_TOKEN=

# Metabase connection settings (for OpenMetadata ingestion of Metabase)
METABASE_HOST=https://your-metabase-instance.com
METABASE_BOT_USERNAME=your-bot-username@example.com
METABASE_BOT_PASSWORD=your-bot-password

# Azure AD authentication settings—picked up directly by DefaultAzureCredential
# Use dagster values from tofu output -var-file=.tfvars machine_user_credentials
# NOTE: /!\ don't currently set these in [AGENCY] env /!\
AZURE_TENANT_ID=tenant_id_from_azure_ad
AZURE_CLIENT_ID=client_id_from_azure_ad_application
AZURE_CLIENT_SECRET=client_secret_from_azure_ad_application

# Trino connection settings
TRINO_HOST=[APP_URL]
TRINO_PORT=443
# When using Azure AD JWT authentication, the user must match the client ID
TRINO_USER=client_id_from_azure_ad_application
TRINO_CATALOG=datahub
TRINO_SCHEMA=public
TRINO_USE_HTTPS=true
TRINO_OAUTH_SCOPE=api://{trino-server-app-id}/.default

# Lakekeeper connection settings
LAKEKEEPER_URL=http://lakekeeper.url.service.fake
LAKEKEEPER_OAUTH_SCOPE=api://{lakekeeper-server-app-id}/.default